p {
    font-size: 16px;   
    color: red; 
}

#heading-one{
    font-size: 50px;
    color: chartreuse;
}

.text-highlight{
    background-color: yellow;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 2.5;

}
